nodered/nodered_flow.json
[
  {
    "id": "mqtt-in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "MQTT Input",
    "topic": "esp32/sensor/data",
    "broker": "mqtt-broker",
    "x": 140,
    "y": 100,
    "wires": [["json-parser"]]
  },
  {
    "id": "json-parser",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "x": 320,
    "y": 100,
    "wires": [["ui-chart", "ui-text"]]
  },
  {
    "id": "ui-chart",
    "type": "ui_chart",
    "z": "flow1",
    "name": "Temperature & Humidity",
    "group": "dashboard-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Sensor Data",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "No data",
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderUnit": "3600",
    "outputs": 1,
    "x": 500,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "ui-text",
    "type": "ui_text",
    "z": "flow1",
    "group": "dashboard-group",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Latest Reading",
    "label": "Latest Data",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 500,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local EMQX Broker",
    "broker": "localhost",
    "port": "1883"
  },
  {
    "id": "dashboard-group",
    "type": "ui_group",
    "name": "Sensor Dashboard",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "name": "ESP32 Monitor",
    "icon": "dashboard",
    "order": 1
  }
]
